*{
box-sizing: border-box;
}
/*margin y paddin 0 */
body,header,footer,#contenido{
margin: 0px;
padding: 0px;
}

/*Fuente y color de letra blanco */
nav a, nav h3{
font-family:arial;
color: #FFFFFF;
}

body{
width:  100vw;
height: 100vh;
}

header{
height: 85%;
display:inline-block;
}

#contenido{
float: right;
background: black;
height:  85%; 
display: flex;
}

footer{
width: 100%;
height: 14%; 
background-color:#FF5252;
}

header nav{
  background-color:#662323;
  height: 100%;
  float: left;
  display: block;
}


#logo{
width: 100%;
padding-top: 20px;
padding-left: 15px;
}


#logo img{
width: 85%;
height: auto;
margin: 0 auto;
}

nav ul li{
  list-style: none;
  padding-bottom: 10px;
}

nav ul li div{
 display: inline-block;
 width: 3px;
 height: 10px; 
}

nav a{
  text-decoration:none;
}

 nav li: hover +  div{
  background:  #FF5252;
  transition:all 500ms;
}

nav a:hover{
color:  #FF5252 ;
transition:all 500ms;
}


/*Pal celular */
#contenido,header{
width: 100%;
}


@media only screen and (min-width: 500px) {
header {width: 25%;}
#contenido {width: 75%;}
nav    {width: 100%;}
}

@media only screen and (min-width: 768px){
header {width:20%;}
#contenido {width: 80%;}
nav    {width: 100%;}  
}

@media only screen and (min-width: 1000px){
header {width:15%;}
#contenido {width: 85%;}
nav    {width: 100%;}  
}