@import url('variables.css');
@import url('index_buscador.css');
@import url('index_coincidencia.css');
@import url('index_resultados.css');

body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Quicksand;
}

:focus{ outline: none }

.main-container{    
    height: calc(100% - 60px);
    display: flex;
}
.menu-container{
    display: none;
    height: 100%;
    background-color: var(--rojo-oscuro);
    color: var(--blanco);
}
.main-section{
    width: 100%;
    overflow-y: auto;
}
.main-section .search-container,
.main-section .first-result-container{
    margin-bottom: 20px;
}

.player-container{
    height: 60px;
    background-color: var(--rojo-reproductor);
}

@media(min-width: 768px){
    .menu-container{
        display: flex;
        width: 25%;
    }
    .main-section{
        width: 75%;
    }
}