.index__resultados{
    margin: 0 5% 0 5%;
}
.titulo{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
    color: var(--rojo-primario);
}
.fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.resultado__contenedor{
    display: flex;
    flex-direction: column;
}
.resultado__contenedor *{
    margin: 0;
}
.resultado__caratula{
    position: relative;
    width: 12vw;
    margin-bottom: 5px;
}
.resultado__caratula img{
    width: 100%;
    height: 100%;
}
.resultado__caratula .icon{
    float: left;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    color: var(--blanco);
    font-weight: 900;
    font-size: 40px;
    transition: transform 0.5s;
}
.resultado__caratula .icon:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.resultado__album{
    font-weight: bold;
    font-size: 14px;
    color: var(--negro-texto);
}
.resultado__artista{
    color: var(--gris-texto);
    font-size: 12px;
}