@import url('variables.css');
@import url('index_buscador.css');
@import url('index_coincidencia.css');
@import url('index_resultados.css');

body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Quicksand;
}

:focus{ outline: none }

.idx_main{    
    height: calc(100% - 60px);
    display: flex;
}
.idx_menuIzq{
    display: none;
    height: 100%;
    background-color: var(--rojo-oscuro);
    color: var(--blanco);
}
.idx_container{
    width: 100%;
    overflow-y: auto;
}
.idx_container .idx_buscador,
.idx_container .idx_coincidencia{
    margin-bottom: 20px;
}

.idx_player{
    height: 60px;
    background-color: var(--rojo-reproductor);
}

@media(min-width: 768px){
    .idx_menuIzq{
        display: flex;
        width: 25%;
    }
    .idx_container{
        width: 75%;
    }
}