@import url('variables.css');
@import url('index_menu.css');
@import url('index_buscador.css');
@import url('index_coincidencia.css');
@import url('index_resultados.css');

body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Quicksand;
}

:focus{ outline: none }

.main-container{    
    height: calc(100% - 60px);
    display: flex;
}
.menu-container{
    display: none;
    height: 100%;
    background-color: var(--rojo-oscuro);
    color: var(--blanco);
}
.main-section{
    width: 100%;
    overflow-y: auto;
}
.main-section .search-container,
.main-section .first-result-container{
    margin-bottom: 20px;
}


.is-hidden{
    display: none;
}

@media(min-width: 768px){
    .menu-container{
        display: flex;
        width: 18%;
    }
    .main-section{
        width:82%;
    }
   
  }


  @media(max-width:767px){
  .menu-container{
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--rojo-oscuro);
  overflow-x: hidden;
  transition: 0.5s;
  text-align:center;
}  
  }
 
    