*{
  box-sizing: border-box;
  }
  
  nav ul li{
  list-style: none;
  padding: 0px;
  border: 0px;
  }
  
  nav ul li div{
  display: inline-block;
  width: 8px;
  height: 20px; 
  }
  
  nav a{
  text-decoration:none;
  }
  
  nav li:hover +  div{
  background:  #FF5252;
  transition: all 500ms;
  }
  
  nav a:hover{
  color:  #FF5252 ;
  transition:all 500ms;
  }
  
  nav a, nav h3{
  font-family:arial;
  color: #FFFFFF;
  }
  
  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px; 
    background-color:#FF5252;
    color: white;
    display: flex;
    justify-content: space-between;
  }
  
  
  .font-big{
  font-size: 20px; 
  }
  
  .font-bigger{
  font-size: 50px; 
  }
  
  .cuadro-imagen{
    height:100%;
    width:auto; 
    margin-right: 10px;
  }
  
  
  .color-icon{
  color: #BDBDBD; 
  } 
  
  
  #logo{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }  
  #logo img{
    width: 80%;
    height: auto;
    margin: 0;
  }
  #logo a{
    margin: 0;
  }
  
  #nombre-usuario{
  margin-left: 10px; 
  }
    
  /*manejor contenido footer*/
  #informacion-cancion{
    display: flex;
    height: 100%;
    width: 25%;
    align-items: center;
    font-size: 17px;
  }
  
  #control-reproduccion{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:auto 0;
  }
  
  #control-audio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 0;
  }

  #control-audio i{
    margin-left: 10px;
  }
  
  #boton-pausa{
  border-radius: 50%;
  background:  rgba(255,255,255, 0.4);
  height: 45px;
  width: 45px;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  }
  
  #boton-menu{
    font-size:30px;
    cursor:pointer;
    color:#FF5252 ;
    display:none;
  }
  
  .boton-cerrar-menu{
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: none;
  }
  
  /*Pal celular */
  @media only screen and (max-width: 768px) {
  #boton-menu{display: flex;}
  .boton-cerrar-menu{display:flex;}
  }
  
  
  @media only screen and (min-width: 500px) {
  header {width: 25%;}
  #contenido {width: 75%;}
  nav    {width: 100%;}
  }
  
  @media only screen and (min-width: 768px){
  header {width:20%;}
  #contenido {width: 80%;}
  nav    {width: 100%;}  
  }
  
  @media only screen and (min-width: 1000px){
  header {width:15%;}
  #contenido {width: 85%;}
  nav    {width: 100%;}  
  }
  
  /*MANEJO DE ICONOS */
  
  
  
  .slider {
    -webkit-appearance: none;
    width: 50%;
    height: 7px;
    background:white;
    border-radius: 10px; 
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background:white;
  cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background:white;
  cursor: pointer;
  }