*{
  box-sizing: border-box;
  }

  nav ul li{
  list-style: none;
  padding: 0px;
  border: 0px;
  }
  
  nav ul li div{
  display: inline-block;
  width: 8px;
  height: 20px; 
  }
  
  nav a{
  text-decoration:none;
  }
  
  nav li:hover +  div{
  background:  #FF5252;
  transition: all 500ms;
  }
  
  nav a:hover, nav div span:hover{
  color:  #FF5252 ;
  transition:all 500ms;
  }
  
  nav a, nav div span, nav h3{
  font-family:arial;
  color: #FFFFFF;
  }

  .hide-menu{
    transform: translateX(-100%);
  }
  
  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 82px; 
    display: flex;
    flex-direction: column;
    background-color:#FF5252;
    z-index: 10;
  }

  .player-container{
    background-color:#FF5252;
    color: white;
    display: flex;
    width: 100%;
    height: 80px; 
  }
  .player-bar{
    font-size: 2px;
    width: 0;
    margin: auto 0;
  }
  
  
  .font-big{
  font-size: 20px; 
  }
  
  .cuadro-imagen{
    height:100%;
    width:auto; 
    margin-right: 10px;
  }
  
  
  .color-icon{
  color: #BDBDBD; 
  } 
  
  
  #logo{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }  
  #logo img{
    width: 80%;
    height: auto;
    margin: 0;
  }
  #logo span{
    margin: 0;
  }
  
    
  /*manejor contenido footer*/
  #informacion-cancion{
    display: flex;
    height: 100%;
    width: 30%;
    align-items: center;
    font-size: 17px;
  }
  
  #control-reproduccion{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #control-audio{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }

  #playerTime{
    width: 30%;
  }

  #volume{
    min-width: 50%;
  }

  #volumeIcon{
    display: none;
    font-size: 2.5rem;
  }

  #boton-pausa{
    border-radius: 50%;
    background:  rgba(255,255,255, 0.4);
    height: 45px;
    width: 45px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
  
  #btnShowMenu{
    font-size:30px;
    cursor:pointer;
    color:#FF5252 ;
    display:none;
  }
  
  .btn-close{
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: none;
    cursor: pointer;
  }
  
  
  .player-info{    
    font-size: 12px;
    display: flex;
    flex-direction: column;
  }
  .player-text{
    margin: 0;
  }
  .strong{
    font-weight: 800;
  }

  /*Pal celular */
  @media only screen and (max-width: 768px) {
    #btnShowMenu{display: flex;}
    .btn-close{display:flex;}
  }

  @media(min-width: 576px) {
    .player-info{  font-size: 13px;}
    #volumeIcon { display: block; }
  }
  @media(min-width: 768px) {
    .player-info{  font-size: 15px;}
    #control-audio{ margin-right: 10px; }
  }


  /*MANEJO DE ICONOS */  
  .slider {
    -webkit-appearance: none;
    width: 50%;
    height: 7px;
    background:white;
    border-radius: 10px; 
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background:white;
  cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background:white;
  cursor: pointer;
  }

  .player-control{
    cursor: pointer;
  }
