
body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Quicksand;
}

:focus{ outline: none }

.index__principal{    
    height: calc(100% - 60px);
    display: flex;
}
.index__menuIzq{
    display: none;
    height: 100%;
    background-color: var(--rojo-oscuro);
    color: var(--blanco);
}
.index__contenido{
    width: 100%;
    overflow-y: auto;
}
.index__contenido .index__buscador,
.index__contenido .index__coincidencia{
    margin-bottom: 20px;
}

.index__reproductor{
    height: 60px;
    background-color: var(--rojo-reproductor);
}