@import url('variables.css');
@import url('index_menu.css');
@import url('index_buscador.css');
@import url('index_coincidencia.css');
@import url('index_resultados.css');

body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Quicksand;
}

:focus{ outline: none }

.main-container{    
    height: calc(100% - 60px);
    display: flex;
}
.menu-container{
    transition: all 1s;
    position: absolute;
    z-index: 1;
    width: 40%;
    height: 100%;
    background-color: var(--rojo-oscuro);
    color: var(--blanco);
}
.main-section{
    width: 100%;
    overflow-y: auto;
}
.main-section .search-container,
.main-section .first-result-container{
    margin-bottom: 20px;
}


.is-hidden{
    display: none;
}

@media(min-width: 768px){
    .main-section{
      width: 80%;
    }
    .menu-container{
      position: relative;
      width: 20%;
      transform: translateX(0%);
    }   
}