
.first-result-container, .user-unknown-container{
    display: flex;
    margin: 0 5% 0 5%;
    height: 150px;
}
.user-unknown-container .search-icon{
    font-size: 60px;
}
.first-result-container .album-container{
    position: relative;
    width: 150px;
}
.album-container img{
    width: 100%;
    height: 100%;
}
.album-container .icon{
    float: left;
    position: absolute;
    top: calc(50% - 32.5px);
    left: calc(50% - 32.5px);
    color: var(--blanco);
    font-weight: 900;
    font-size: 65px;
    transition: transform 0.5s;
}
.album-container .icon:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.description-container, .user-unknown-container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(167, 0, 0, 0.4), rgba(167, 0, 0, 0.4));
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: normal;
    color: var(--blanco);
    padding: 2%;
}
.description-container{
    width: calc(100% - 150px);
    justify-content: space-around;
}
.user-unknown-container{
    justify-content: center;
    align-items: center;
}
.user-unknown-container *{
    margin: 0;
}
.first-result-container .description-container *{    
    margin: 0;
    font-family: Quicksand;
}
#album-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
}
.album-info{
    display: flex;
    align-items: center;
}
#artist{
    margin-right: 1rem; 
    font-size: 14px;
    line-height: 17px;
    margin-top: auto;
    margin-bottom: auto;
}
#followers{
    color: rgb(128, 9, 9);
    font-size: 10px;
    line-height: 12px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}
.buttons-container button{
    border-radius: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 0 15px 0 15px;
    height: 30px;
    cursor: pointer;
}
.buttons-container .btn-play{
    background: #E86060;
    mix-blend-mode: normal;
    border: none;
    color: var(--blanco);
}
.buttons-container .btn-follow{
    background: none;
    border: 1px solid #EB5757;
    color: var(--rojo-primario);
    box-sizing: border-box;
}

